@import "variables.less";
@import "navbar.less";
@import "hero.less";
@import "cards.less";
@import "half-panel.less";
@import "footer.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @font-base;
}